

<h1>Add new product</h1>
<form *ngIf="productFormGroup" [formGroup]="productFormGroup">
  <div class="form-group row">
    <label for="name" class="col-sm-2 col-form-label">Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="name" formControlName="name" required
        [ngClass]="{'is-invalid': submitted && productFormGroup.controls['name'].errors,
              'is-valid': !productFormGroup.controls['name'].errors && (productFormGroup.controls['name'].dirty || productFormGroup.controls['name'].touched)}"
      >
      <div *ngIf="submitted && productFormGroup.controls['name'].errors" class="invalid-feedback">
          <div *ngIf="productFormGroup.controls['name'].errors?.['required']">
            Name is required.
          </div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="price" class="col-sm-2 col-form-label">Price</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="price" formControlName="price" required
      [ngClass]="{'is-invalid': submitted && productFormGroup.controls['price'].errors,
                'is-valid': !productFormGroup.controls['price'].errors && (productFormGroup.controls['price'].dirty || productFormGroup.controls['price'].touched)}">
      <div *ngIf="submitted && productFormGroup.controls['price'].errors" class="invalid-feedback">
        <div *ngIf="productFormGroup.controls['price'].errors?.['required']">
          Price is required.
        </div>
        <div *ngIf="productFormGroup.controls['price'].errors?.['invalidNumber']">
          Price is invalid number.
        </div>
    </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="quantity" class="col-sm-2 col-form-label">Quantity</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" id="quantity" formControlName="quantity" required
      [ngClass]="{'is-invalid': submitted && productFormGroup.controls['quantity'].errors,
                'is-valid': !productFormGroup.controls['quantity'].errors && (productFormGroup.controls['quantity'].dirty || productFormGroup.controls['quantity'].touched)}">
      <div *ngIf="submitted && productFormGroup.controls['quantity'].errors" class="invalid-feedback">
        <div *ngIf="productFormGroup.controls['quantity'].errors?.['required']">
          Quantity is required.
        </div>
    </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="form-check-label col-sm-2" for="selected">
      Selected
    </label>
    <div class="col-sm-10">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="selected" formControlName="selected">
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="form-check-label col-sm-2" for="available">
      Available
    </label>
    <div class="col-sm-10">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="available" formControlName="available">
      </div>
    </div>
  </div>

  <div class="form-group row">
    <div class="offset-2 col-sm-2 btn-form">
      <button type="submit" class="btn btn-primary mr-2" (click)="onAddProduct()">Add</button>
      <button type="reset" class="btn btn-outline-primary" (click)="onResetForm()">Reset</button>
    </div>
  </div>
</form>

<div *ngIf="displaySuccessMessage" class="alert alert-success" role="alert">
  Product added successfully
</div>


