<tr *ngIf="productInput">
  <th scope="row">{{productInput.id}}</th>
  <td>{{productInput.name}}</td>
  <td>{{productInput.price}}</td>
  <td>{{productInput.quantity}}</td>
  <td>
    <i class="fa " [ngClass]="productInput.selected ? 'fa-heart text-danger': 'fa-heart-o'"></i>
  </td>
  <td>
    <i class="fa " [ngClass]="productInput.available ? 'fa-check-square-o text-success': 'fa-square-o'"></i>
  </td>
  <td>
    <button class="btn btn-sm" (click)="onSelect(productInput)" [ngClass]="(productInput.selected) ? 'btn-success' : 'btn-danger'">
      <span *ngIf="productInput.selected">deselect</span>
      <span *ngIf="!productInput.selected">Select</span>
    </button>
  </td>
  <td>
    <button class="btn btn-sm btn-danger" (click)="onDelete(productInput)">
      <i class="fa fa-trash" aria-hidden="true"></i>
    </button>
  </td>
  <td>
    <button class="btn btn-sm btn-warning" (click)="onEdit(productInput)">
      <i class="fa fa-edit" aria-hidden="true"></i>
    </button>
  </td>
</tr>
