<ng-container *ngIf="productsInput$ | async as result" [ngSwitch]="result.dataState">
  <!-- {{result | json}} -->
  <ng-container *ngSwitchCase="dataStateEnum.LOADING">
    Loading ...
  </ng-container>
  <ng-container *ngSwitchCase="dataStateEnum.ERROR">
    <div class="alert-danger">
     Une erreure s'est produite : {{result.errorMessage}}
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="dataStateEnum.LOADED">
    <table class="table table-bordered text-center">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
          <th scope="col">Quantity</th>
          <th scope="col">Selected</th>
          <th scope="col">Available</th>
          <th scope="col" colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <app-product-item
          *ngFor="let product of result.data"
          [productInput]="product"
          style="display: contents;"
        ></app-product-item>
      </tbody>
    </table>
  </ng-container>
</ng-container>
